{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>

<article class="article">
    <p class="article__paragraph">
        Инвестировать в недвижимость можно разными способами. Среди российских частных инвесторов распространены вложения в строящиеся объекты, чтобы получить прибыль от их продажи по более высокой цене, а также сдача недвижимости в аренду. Оба варианта требуют первоначального капитала, достаточного для покупки актива, а также большой вовлечённости со стороны инвестора. Инвестиции в фонды недвижимости – хорошая альтернатива для тех, кто не располагает нужным количеством денег или не хочет вникать в вопросы управления активами.

        Фонды недвижимости существуют в двух основных вариантах: REIT (американская модель, которая реализована и в других западных странах) и ЗПИФ недвижимости (российский вариант, имеющий отличия от зарубежных фондов).
    </p>
    <p class="article__paragraph">
        REIT (Real Estate Investment Trust) – это фонд коллективных инвестиций, который вкладывает средства участников в недвижимость и получает от этой деятельности доход. Основная часть прибыли распределяется в виде дивидендов между владельцами ценных бумаг фонда пропорционально их долям.

В отличие от российских паевых фондов, REIT является юридическим лицом. Это управляющая компания, которая соответствует определённым требованиям закона.

Например, законодательство США требует, чтобы не менее 75% активов REIT было вложено в недвижимость, а доходы от неё в совокупности (от аренды, продажи, закладных и т. д.) составляли минимум 75% всех доходов фонда. REIT может быть только налогооблагаемая организация, состоящая минимум из 100 акционеров. При этом владеть половиной и более акций не должны меньше 5 лиц. В качестве дивидендов выплачивается не менее 90% дохода REIT, а взамен такие фонды освобождены от налогов, которые действуют только в части нераспределенной прибыли.

Комплексным индексом REIT является FTSE EPRA, в который входят более 450 компаний с капитализацией свыше 3 триллионов долларов.

Дивидендная доходность REIT, как правило, составляет от 2 до 5%, что является высоким показателем для американского рынка. Для некоторых фондов он может достигать и 10%, но инвестиции в такие инструменты обычно сопряжены с более высокими рисками.

Налогообложение доходов от REIT для российских инвесторов аналогично доходам от акций иностранных эмитентов. Налоги потребуется уплатить с дивидендного дохода и разницы между ценой покупки и продажи бумаг в случае их реализации.
    </p>
    <p class="article__paragraph">
        Используя этот инструмент, инвестор, по сути, вкладывается в бизнес управляющей компании, принимая на себя сопутствующие риски.

Бумаги REIT свободно обращаются на бирже и имеют больше сходства с обычными акциями: обладают высокой ликвидностью, но в сложные экономические периоды подвержены волатильности. Кроме того, REIT используют кредитное плечо, поэтому они подвержены кредитному риску и даже риску банкротства.

Основной плюс таких фондов – высокая дивидендная доходность. По показателю total return, который учитывает дивидендную доходность и прирост капитала, этот инструмент за последние 10 лет показывает самую высокую среднегодовую доходность.

Вложения в фонды защищены от возможных рисков сильнее, чем инвестиции в один объект недвижимости, но полностью исключить их невозможно.

В определённой степени застраховаться от макроэкономических и страновых рисков позволяет выбор фондов с хорошей диверсификацией, работающих на стабильных рынках. Однако с 2022 года инвестиции в зарубежные инструменты, в том числе в REIT, несут для россиян ещё и риски заморозки или изъятия активов. Поэтому сегодня перед инвестором в REIT стоит непростая задача – до приобретения акций не только проанализировать качество инвестиционного портфеля фонда и его текущее состояние, но и в полной мере оценить геополитические риски.
    </p>
              
</article>


{% endblock %}
