{% extends "app/layout.html" %}

{% block content %}

{% load static %}
<div class="jumbotron">
    <h2>Полезные ресурсы для ознакомления</h2>
    <div class="references">
        <ul>
            <li><a href="https://accent.ru/investicii-v-fondy-nedvizhimosti">Инвестирование в фонды файловых тарифов</a></li>
            <li><a href="https://blog.domclick.ru/nedvizhimost/post/investiczii-v-nedvizhimost-kak-vygodno-vlozhit-dengi">Инвестиции в файловые тарифы</a></li>
            <li><a href="https://спроси.дом.рф/instructions/investirovanie-v-nedvizhimost-plyusy-i-minusy/">Риски инвестиций в файловые тарифы</a></li>
        </ul>
    </div>
</div>

{% endblock %}